.home-container {
  text-align: center;
}
button {
  margin-left: 8px;
}
.img {
  background: #eee;
  border: 1px solid #ccc;
  height: 32px;
  margin-right: 4px;
  vertical-align: middle;
  width: 32px;
}
