.footer {
  background-color: #343a40;
  bottom: 0;
  color: white;
  height: 5vh;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
}

.footer-text {
  color: #ddd;
  text-align: center;
  font-size: .725rem;
  padding-top: 6px;
}
